canvas{
  background-image: url('../images/sprites/halfcourt.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.812);
  overflow: hidden;
}
/* grid-template-columns: 1fr 200px;
grid-template-rows: 100px 1fr ; */
/* margin: 0;
height: 100vh; */

#header{
  margin-block: 1.5em;
  height: fit-content;
  /* margin-bottom: 0; */
  position: sticky;
  width: 100%;
  max-width: 1429px;
  align-self: center;
}
#headerSplit{
  display: flex;
  justify-content: space-evenly;
}

#coverPageDiv{
  position: absolute;
  height: 576px;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

#coverPageDiv img{
  margin: 28% 0;
}

#titleDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleDiv img{
  height: 2.4em;
  z-index: 1;
}



/* #coverPageDiv{
  grid-row: 2/-1;
  grid-column: 1/2;
  z-index: 5;
  /* position: fixed; */
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* background-color: black;
} */

.gameNav{
  display: flex;
  justify-content: flex-end;
  /* position: absolute;
  bottom: 90%;
  left: 480px; */
}

.nav-links{
  margin-inline: .8em;
  user-select: none;
}

/* grid-column: 1/-1;
grid-row: span 1; */
/* flex-direction: row; */

a img{
  /* background-color: black; */
  width: 40px;
  height: 40px;    
  margin-right: 10px;
}

.link-img-g:hover{
  background-color: rgb(255, 174, 0);
  cursor: pointer;
  border-radius: 100px;
}

.link-img-l:hover{
  background-color: rgb(255, 174, 0);
  cursor: pointer;
  border-radius: 7px;
}

.link-img-g:active{
  background-color: rgb(255, 89, 0);
  cursor: pointer;
  border-radius: 100px;
}

.link-img-l:active{
  background-color: rgb(255, 89, 0);
  cursor: pointer;
  border-radius: 7px;
}

#soundControl{
  display: flex;
  justify-content: flex-end;
}

/* #titleP{
  margin: 0;
  font-size: 100px;
} */

#gameDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
  /* position: absolute; */
  /* top: 0%; */
  /* margin-top: 1.5em; */
  max-height: 800px;
  min-height: 576px;
}

#instructions{
  align-self: center;
}

/* #canvasDiv{
  display: flex;
  justify-content: flex-start;
} */

#scoreBoard{
  position: absolute;
  background: transparent;
  user-select: none;
  height: 576px;
  width: 576px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.streaks{
  position: absolute;
  background: transparent;
  user-select: none;
  height: 576px;
  width: 576px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#brick-holder{
  /* width: 50px;
  height: auto; */
  margin-bottom: 30px;
  margin-left: 15px;
}
#streak-holder{
  margin-bottom: 30px;
  margin-left: 15px;
}

#touch{
  z-index: 1;
}

/* streaks */
#heat-img{
  display: none;
}
#brick-img{
  display: none;
}
#fire-img{
  display: none;
  margin-left: 70px;
}
/* streaks */

.record{
  position: absolute;
  background: transparent;
  user-select: none;
  height: 576px;
  width: 576px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brick-img{
  margin-left: 100px;
}

#new-record{
  width: 300px;
  height: auto;
  display: none;
}

#play-again{
  width: 300px;
  height: auto;
  display: none;
}

#shoot-again{
  width: 300px;
  height: auto;
  display: none;
}

#record-holder{
  width: fit-content;
  height: fit-content;
}


.scores{
  height: 120px;
  width: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.864);
  margin-right: 2px;
}

.score-label{
  font-family: 'score_boardregular';
  font-size: 40px;
  color: rgb(255, 166, 0);
  margin-left: 10px;
}

.score-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#currentScore{
  width: 30px;
  text-align: end;
  margin-right: 10px;
  color: rgb(255, 166, 0);
  padding-right: 3px;
  font-family: 'score_boardregular';
  font-size: 40px;
}

#highScore{
  width: 30px;
  text-align: end;
  margin-right: 10px;
  color: rgb(255, 166, 0);
  padding-right: 3px;
  font-family: 'score_boardregular';
  font-size: 40px;
}

#score{
  width: 100px;
}

#record{
  width: 100px;
}

h3 {
  font-family: monospace;
  color: whitesmoke;
  font-size: larger;

}
ul{
  margin-left: 0;
  margin: 0;
  user-select: none;
}
li {
  font-family: monospace;
  color: whitesmoke;
  font-size: large;
}

#audioDiv{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}


@media (max-width: 850px){
  body{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.812);
    overflow: auto;
  }
  #gameDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    /* top: 8em; */
  }
  #header{
    position: relative;
  }
  #headerSplit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #audioDiv{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav-links{
    margin-inline: .3em;
  }
}

@media (max-width: 990px){
  .nav-links{
    margin-inline: 0;
  }
}

@media (max-height: 680px){
  body{
    overflow: auto;
  }
}


@media (max-width: 600px){
  body{
    zoom: 75%
  }
}

/* @media (max-height: 600px) {
  #sound-control{
    display: none;
  }
  #gameDiv{
    margin-top: 8em;
  }
  body{
    zoom: 60%;
  }
} */

@media (max-width: 450px){
  #header{
    height: 140px;
  }
  #soundControl{
    display: none;
  }
  #gameDiv{
    margin-top: 8em;
  }
  body{
    zoom: 40%
  }
}